/* 将浏览器所有自带的外边距和内边距取消 */
/* 公用部分 */
*{
    margin:0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

body{
    font:14px "HanHei SC","PingFang SC","Avenir Next",Avenir,"Helvetica Neue",Helvetica,"Lantinghei SC","Hiragino Sans GB","Microsoft YaHei",微软雅黑,STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
}

.topbar{
    background: #333333;
    font-size: 12px;
    color: #ffffff;
    /* 行元素 或文字在父元素中垂直居中 */
    height: 40px;
    line-height: 40px;
}
/* 公共居中class */
.wrapper{
    width: 1210px;
    /*  块级元素水平居中*/
    margin: 0 auto;
}

.topbar-list{
    float:left;
}
.topbar a{
    color:#ffffff;
    text-decoration: none;
  }
.topbar a:hover{
    color:#ddd;
  } 
.topbar span{
    margin:0px 2px;
}
.topbar-info{
    float:right;
}

/* header开始 */
.header{
    height: 100px;
}
.logo{
    float:left;
    margin-top: 23px;
}
.logo img{
    width: 187px;
    height: 55px;
    
}
.nav{
    float:right;
    margin:36px -23px 0 0;
}
.nav >li{
    float:left;
    padding: 0px 23px 20px 23px;  /* 不能把上下的padding都改，不然子菜单的相对位置也会改变，只能海边下面的padding*/
    /* height: 80px; */
}
.nav > li .nav-list{
    color:#212121;
    font-size:18px;
}
.nav > li .nav-list:hover{
    color: #e84519;
}
.nav-sub-list{
    position: absolute;
    background:#ffffff;
    top:43px;
    left:-31px;
    width: 150px;
    height: 102px;
    border:1px solid #E5E5E5;
    border-radius: 2px;;
}

.nav-money{
    position: relative;
}

.nav-sub-list li{
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.nav-sub-list li:hover{
    background:#eee;  
}
.nav-sub-list li:hover a{
   color: #e84519;
}
.nav-sub-list li a{
    color:#434343;
    font-size: 16px;
}
.nav-children{
    padding:10px 0px;
}
/*添加箭头 */
.nav-sub-list::before{
    content:"";
    position: absolute;
    top:-5px;
    left:72px;
    width: 7px;
    height: 7px;
    border:1px solid #E5E5E5;
    /* transform css3 设置变形*/
    transform: rotate(45deg);
    border-right: transparent;
    border-bottom: transparent;
    background:#fff;
}
.nav-sub-list{
    display: none;
}
.nav-money:hover .nav-sub-list{
    display: block;
}
/* header结束 */

/* banner 开始 */
.banner{
    height:640px;
    background: url(./img/banner.jpg) center 0;
}
.slogan{
    font-size:54px;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
    padding-top: 193px;;
}
.download_btn{
    width: auto;
    height: auto;
    text-align: center;
    margin-top: 36px;
}
.download_btn a{
    color:#ffffff;
    font-size: 24px;
    background: #F93F2B;
    padding: 18px 30px;
    border-color: #F93F2B;
    border-radius:5px;
}
/* banner结束 */

/* content 开始 */
.content{
    height: 404px;
    width: 1170px;
    background: #fff;
    margin-top: -80px;
    margin-bottom: 50px;
    border:1px solid #e6e6e6;
    padding: 30px 0 30px 30px;
}
.content-child{
    float: left;
    padding-right: 30px;
}
.content-money{
    width: 300px;
    height: 120px;
    padding:30px;
    margin-bottom: 30px;
}
#pic1{
    background: url(./img/money.png);
    background-size: 360px 180px;
}
#pic2{
    background: url(./img/loan.png);
    background-size: 360px 180px;
}
#pic3{
    background: url(./img/insurance.png);
    background-size: 360px 180px;
}
.text-first{
    font-size: 33px;
    color: #ffffff;
    line-height: 33px;
    padding-top: 18px;
}
.text-sec{
    font-size: 33px;
    color: #ffffff;
    line-height: 33px;
    padding-top: 16px;
    font-weight: 300;
}
.content-bottom{
    margin: 20px 30px;
    /* padding: 0px 30px; */
}
.ul-link > li{
    margin-top: 20px;
    font-size: 16px;
    color: #666666;
    line-height: 16px;
    
}
.ul-link > li p{
    display: inline-block
}
.orange{
    color:#EA5600;
}.blue{
    color: #4481C8;;
}
.green{
    color:#0DB27B;
}
.ul-link{
    margin-bottom: 40px;
}
.more{
    margin-top: 40px 0px 10px;
    border-top: 1px solid #e6e6e6;
    width: 300px;
    height: 62px;
    text-align: center;
    color: #FD3911;
    font-size: 16px;
    /* border-left: transparent;
    border-right: transparent;
    border-bottom: transparent; */
} 
.more p{
    margin-top: 25px;
}
.content span{
    margin: 0px 7px;
}
/* content结束 */

/* bottom 开始 */
.bottom{
    height: 160px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    
}
.bottom img{
    float: left;
    width: 46px;
    height: 46px;
}
.bottom .left{
    float:left;
    padding:57px 0px 62px 0px;

}
.bottom .right{
    float:right;
    padding:57px 0px 62px 0px;
    text-align: left;
}
.fotter-link{
    float: left; 
    padding: 3px 0px 7px 7px;
}
.fotter-link a{
    color: #575757;
    font-style: 14px;
    line-height: 14px;
    font-weight: 400;
    margin-left: 5px;;
}

.fotter-copyright{
    float:left;
    position: absolute;
    top:81px;
    left:50px;
    padding: 3px 0px 3px 7px;
}
.fotter-copyright p{
    display: line-block;
    color: #6D6D6D;
    font-size: 12px;
    line-height: 14px;
}
.right p{
    color: #575757;
    font-size: 14px;
    line-height: 20px;
}
#phone{
    color: #E84519;
    font-size: 26px;
    line-height: 37px;
    font-weight: 400;
}
/* bottom 结束 */